   {% extends "::model.html.twig" %}

{% block title %}
  bienvenu sur ifrikiya!
{% endblock %}

{% block contenu %}
  <div class="titre">
		    <div class="titre_image"></div>
		     <h2>Ifrikiya</h2>
		      <h4>présentation</h4>
		   </div>
		   <div class="reste">
		   <div class="picto_image"><h2>Cocktail Litteraire</h2></div>
		   </div>
{% endblock %}       
          
          