{% extends "::modelcatalogue.html.twig" %}

 
 {% block corps %}
  
		   <p>votre Mail a été transmis avec succès nous le traiterons dans les meilleurs delais</p>
		   <p><a href="{{ path('ifrikiya_site_acceuil') }}">retour acceuil</a>
   
	
 
 {% endblock %}