  {% extends "::modelcatalogue.html.twig" %}
  
   {% block encodage %}
   {{ parent() }}
 {% endblock %} 
 
 {% block corps %}
  <div id="acceuil">
		   <h2>PRESENTATION DES EDITIONS IFRIKIYA</h2>
		   <h4>GENESE</h4>
		     <p>Ifrikiya est l’appellation originelle de l’Afrique. Ce nom a été expressément choisi pour signifier
			 la volonté des auteurs du présent projet à retourner à leurs racines pour s’en inspirer et créer. Ceci étant,
			 Ifrikiya, en termes d’actionnariat, est ouvert à tous les 
			 éditeurs consentants et ses partenaires pourraient venir du monde entier.
			 </p>
			 <h4>ORIGINE</h4>
			 <p>Ifrikiya est le fruit de la fusion entre trois maisons d’édition camerounaises à savoir 
			 Interlignes, Editions de la Ronde et Editions Proximité. Par cette fusion, les initiateurs 
			 ont voulu formaliser un partenariat qui avait déjà montré ses preuves par des coéditions.
             </p>
			 <h4>BUT</h4>
			 <p>Ifrikiya veut être une maison d’édition compétitive et capable de relever le défi d’une production
			 d’ouvrages littéraires et scientifiques, de qualité, et à faibles coûts en Afrique. L’édition
			 étant un secteur stratégique de la communication et donc des relations internationales, 
			 il importe que la voix du Cameroun et de l’Afrique soit présente et prise en compte dans la 
			 construction d’une image valorisante de notre réalité qui associe à la fois le meilleur d’ici 
			 et d’ailleurs. En ce sens, Ifrikiya collabore avec plusieurs éditeurs dans le monde.</p>
		     
			 <h4>POLITIQUE EDITORIALE</h4>
			 <p>Les trois maisons d’éditions qui ont fusionné pour former Ifrikiya avaient pour objectif 
			 d’être une maison d’édition capable de produire des ouvrages de qualité au Cameroun et en Afrique. 
			 Dès les premières publications, et pour marquer son engagement à porter aussi loin que possible la 
			 voix du Cameroun et de l’Afrique, des auteurs camerounais, vivant au Cameroun et en Europe ont été 
			 publiés au même moment que des auteurs étrangers et de nombreux jeunes auteurs qui publiaient 
			 grâce à cette maison leurs premiers ouvrages. Il faudrait le signaler, les éditions Ifrikiya ont 
			 publié environ quatre vingt auteurs en
			 six ans parmi lesquels : Gaston Kelman, Kangni Alem, Patrice Nganang, et plus récemment grâce à 
			 la collection Terres solidaires de l’Alliance des éditeurs indépendants, Boubakar Boris Diop, 
			 Emmanuel Dongala, Lewis Nkossi, Mongo Beti, Driss Chraibi, Véronique Tadjo
			 Dans le même temps, de nombreux projets ont été conçus en collaboration avec plusieurs éditeurs
			 étrangers. Outre les ouvrages produits dans le réseau de l’alliance des Editeurs Indépendants, 
			 on pourrait citer Indépendance Cha Cha avec Magellan et Nouvelles du Cameroun avec Magellan et Courrier International, de même que Malamine
			 avec Les enfants rouges, Kamerun dont les droits ont été achetés chez La Découverte, L’Etat et les clivages ethniques, avec CERAP à Abidjan. De nombreux autres projets sont en cours dans différentes collections dont la traduction de notre roman Walaandé, l’art de partager un mari en Arabe pour le Liban, et la Tunisie.
			 Autant d’arguments qui démontrent notre volonté de nous ouvrir au monde.
			 Cinq principales collections définissent la ligne éditoriale d’Ifrikiya à savoir<a href="{{ path('ifrikiya_site_collection') }}">...voir ici</a>
			 </p>
		 
		  
		 </div>
 
 {% endblock %}