{% extends "::modelcatalogue.html.twig" %}
  
 
 {% block corps %}
  <div id="erreur">
		   <p>désolé la page que vous demandez n'est pas accessible</br>
		   <a href=" {{ path('ifrikiya_site_acceuil') }}">retour acceuil</a>
		   </p>
		  
</div>
 
 {% endblock %}